<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de e-mail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body id="body" style="margin: 30px;">
    <div id="app">
      
      <div class="container border rounded p-3 mb-3 bg-dark text-white">
        <div class="form-group">
          <label for="tipo" class="font-weight-bold">Tipo de modelo</label>
          <select name="tipo" id="tipo" v-on:click="escolher" class="form-control" v-model="modeloOpcaoSelecionada">
            <option value="" disabled selected hidden>Escolha o tipo de modelo</option>
            <option v-for="opcao in selecaoModeloEmail" v-bind:value="opcao.id">{{opcao.nome}}</option>
          </select>
        </div>
      </div>
      
      <div v-show="exibirDNS" id="dns_form" style="display: none;" class="container border rounded p-3 mb-3 bg-light">
        <div class="form-group">
          <label for="cname">CNAME:</label>
          <input type="text" id="cname" name="cname" class="form-control" v-on:keyup="dns_gerar" v-model="modeloFormularioDNS.cname">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="hom" v-on:change="dns_gerar" v-model="modeloFormularioDNS.homologacaoChecado">
          <label class="form-check-label" for="hom">Hom</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="dev" v-on:change="dns_gerar" v-model="modeloFormularioDNS.desenvolvimentoChecado">
          <label class="form-check-label" for="dev">Dev</label>
        </div>
        <div class="form-group">
          <label for="subdomain">Subdomínio:</label>
          <input type="text" id="subdomain" name="subdomain" class="form-control" 
                v-on:keyup="dns_gerar" v-model="modeloFormularioDNS.subdomain">
        </div>
        <div class="form-group">
          <label for="dnsinterno">DNS interno:</label>
          <input type="text" id="dnsinterno" name="dnsinterno" class="form-control" 
                v-on:keyup="dns_gerar" v-model="modeloFormularioDNS.DNSInterno">
        </div>
        <div class="form-group">
          <label for="dnsexterno">DNS externo:</label>
          <input type="text" id="dnsexterno" name="dnsexterno" class="form-control" 
                v-on:keyup="dns_gerar" v-model="modeloFormularioDNS.DNSExterno">
        </div>
      </div>
    
      <div v-show="exibirFirewall" id="firewall_form" style="display: none;" class="container border rounded p-3 mb-3 bg-light">
        <div class="form-group">
          <label for="origem">Origem:</label>
          <input type="text" id="origem" name="origem" class="form-control" v-on:keyup="firewall_gerar" v-model="modeloFormularioFirewall.origem">
        </div>
        <div class="form-group">
          <label for="destino">Destino:</label>
          <input type="text" id="destino" name="destino" class="form-control" v-on:keyup="firewall_gerar" v-model="modeloFormularioFirewall.destino">
        </div>
        <div class="form-group">
          <label for="porta">Porta/Protocolo:</label>
          <input type="text" id="porta" name="porta" class="form-control" 
                placeholder="Ex.: 80 TCP/UDP e 443 TCP/UDP" v-on:keyup="firewall_gerar" v-model="modeloFormularioFirewall.portaProtocolo">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="icmp" v-on:change="firewall_gerar" v-model="modeloFormularioFirewall.ICMPChecado">
          <label class="form-check-label" for="icmp">ICMP</label>
        </div>
      </div>
    
      <div v-show="exibirResultadoDiligencia" id="res_diligencia_form" style="display: none;" class="container border rounded p-3 mb-3 bg-light">
        <div class="form-group">
          <label for="pronome">Gênero:</label>
          <select name="pronome" id="pronome" v-on:click="res_diligencia_gerar" v-on:keyup="res_diligencia_gerar" class="form-control" v-model="modeloFormularioResultadoDiligencia.genero">
            <option value="o(a)" selected disabled hidden>Selecione</option>
            <option v-for="opcao in selecaoGenero" v-bind:value="opcao.id">{{opcao.nome}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cargo">Perfil:</label>
          <select name="cargo" id="cargo" v-on:click="res_diligencia_gerar" v-on:keyup="res_diligencia_gerar" class="form-control" v-model="modeloFormularioResultadoDiligencia.cargo">
            <option value="" selected disabled hidden>Selecione</option>
            <option v-for="opcao in selecaoCargo" v-bind:value="opcao.id">{{opcao.nome}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="aprovacao">Resultado:</label>
          <select name="aprovacao" id="aprovacao" v-on:click="res_diligencia_gerar" v-on:keyup="res_diligencia_gerar" class="form-control" v-model="modeloFormularioResultadoDiligencia.resultado">
            <option value="" selected disabled hidden>Selecione</option>
            <option v-for="opcao in selecaoResultado" v-bind:value="opcao.id">{{opcao.nome}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="observacoes">Observações:</label>
          <input type="text" id="observacoes" name="observacoes" class="form-control"
                v-on:keyup="res_diligencia_gerar" v-model="modeloFormularioResultadoDiligencia.observacao">
        </div>
      </div>
    
      <div v-show="exibirConviteGitHub" id="convite_github_form" style="display: none;" class="container border rounded p-3 mb-3 bg-light">
        <div class="form-group">
          <button class="button" v-on:click="convite_github_gerar">Ok</button>
        </div>
      </div>
    
      <div id="resultado" style="display: none;" class="container border rounded p-3 mb-3 bg-secondary">
        <h4 class="mb-3 text-white">E-mail</h4>
        <div id="cabecalho">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Para</span>
            </div>
            <div class="form-control" id="para_email">
              {{ emailSuporte }}
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">CC</span>
            </div>
            <div class="form-control" id="cc_email1">
              {{ emailInfraestruturaCentralIT }}
            </div>
            <div class="form-control" id="cc_email2">
              {{ emailDISIS }}
            </div>
            <div class="form-control" id="cc_email3" style="user-select: none;">
              solicitante(s)
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Assunto</span>
            </div>
            <div class="form-control" id="assunto_email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <!--label>Corpo:</label>-->
          <div class="container border rounded p-3 bg-white" id="corpo_email">
          </div>
        </div>
        <!--<div class="form-group">
          <button type="button" class="btn btn-light" onclick="enviar_email();">Enviar e-mail</button>
        </div>-->
      </div>
    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
   
  </body>
</html>